# Игнорируем виртуальное окружение
venv/
.env
*.env

# Игнорируем кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем логи и временные файлы
logs/
*.log
*.tmp

# Игнорируем зависимости и сборки
dist/
build/
*.egg-info/
documents_docx/
documents_html/
